^/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
/**h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
  background: aquamarine;
}*/
.navi-button {
	
}

.navigationanchor {
	font-size: 20px;
}

.IdentityPanel {
	position: absolute;
    right: -305px;
    top: 85px
}

ul#header-top  li {
	float: right;
	list-style- ^type: none;
	padding: 0px 8px;
	border-left: 1px #ACACAC solid;
}

ul#header-top  li:last-child {
	border: none;
}

.myprofil-button {
	border-radius: 0px;
	font-family: Calibri;
	color: #000000;
	font-size: 15px;
	padding: 8px 20px 8px 20px;
	border: solid #e6e6e6 2px;
}

.listboxidentityselection {
	float: right;
}

div#test {
	
}

div#idendity {
	float: right;
}

div#identity {
	float: right;
}

div#body-body {
	background: aliceblue;
	width: 1150px;
}

div#footer {
	background: #209ede;
	width: 1150px;
	height: 100px;
}

.menuleistereportanchor {
	color: black;
}

.ausloggenanchorreport {
	color: black;
	position: absolute;
	top: 8px;
    right: -163px;
}

.bearbungsmodusdeaktiv-button {
	background-color: red;
	border-color: red;
	border-width: 5px;
	border-style: solid;
}

.bearbungsmodusaktiv-button {
	background-color: green;
	border-color: green;
	border-width: 5px;
	border-style: solid;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.gwt-StackPanel {
	border: 1px solid #AAAAAA;
	background-color: #CCCCCC;
	cursor: pointer;
	cursor: hand;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

#tabelle-projektmarktplatz {
	border: 3px solid black;
	margin-bottom: 10px;
	width: 100%;
	background: azure;
	border-color: black;
	border-collapse: separate;
}

/**  Version Sebi */
html {
	padding: 0 5% 10px;
}

body {
	position: relative;
	background: #d5d5d5;
	font-family: Arial, Helvetica, sans-serif;
	width: 1000px;
	margin: 0 auto;
	font-size: 0.75em;
	color: #535353;
}

IdentityPanel {
	float: right;
	position: absolute;
	right: 20px;
	top: 80px;
}

listboxidentityselection {
	float: right;
	position: absolute;
	right: 20px;
	top: 80px;
}

* {
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

a {
	text-decoration: none;
}

header {
	background: lavender;
    border-radius: 33px;
	width: 1320px;
	height: 240px;
	margin: 20px auto 0px;
}

header p {
	color: #fdfefe;
	width: 100%;
	height: 210px;
	margin: -110px 0 0 0;
}

header h1 a {
	display: block;
	color: #fdfefe;
	padding: 10px 0 0 20px;
	font-size: 140%;
}

header h1 span {
	font-size: 50%;
	color: #fdfefe;
	padding: 0 20px;
}

.ribbon {
	border-radius: 30px;
    background: darkgray;
    border-color: aliceblue;
	height: 110px;
    font-size: 32px;
	
	
	margin: 10px 0 50px;
	position: relative;
	border: 1px solid rgba(0, 0, 0, .3);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
	padding: 10px 15px;
	clear: both;
	text-align: center;
	padding: 10px 9px 10px 10px;
	width: 47%;
	margin-left: -10px;
}

/**.ribbon::before{
	display: block;
	width: 10px;
	height: 0px;
	position: absolute;
	bottom: -10px;
	left: -10px;
	content: "";
	border-bottom: 10px solid transparent;
	border-right: 10px solid rgb(0, 80, 116);
}*/
/**.ribbon::after{
	display: block;
	width: 10px;
	height: 0px;
	position: absolute;
	bottom: -10px;
	right: -10px;
	content: "";
	border-bottom: 10px solid transparent;
	border-left: 10px solid rgb(0, 80, 116);
}*/
header a#navlink {
	display: none;
	float: right;
	text-decoration: none;
	font-size: 1.8em;
	font-weight: bold;
	margin: 20px 20px 0 0;
}

ul#header-topreport {
	position: absolute;
	top: 0px;
	right: -315px;
	float: right;
	list-style-type: none;
	color: blue;
}
div#body-body{
	background: rgba(230, 230, 250, 0.14);
    border-radius: 19px;
    width: 1320px;
}
div#TopLevelFrame{
	background: rgba(230, 230, 250, 0.14);
    border-radius: 19px;
    width: 1320px;
}
div#footer{
	background: lavender;
	border-radius: 33px;
	width: 1320px;
}
ul#header-top {
	position: absolute;
	top: 0px;
	right: -315px;
	float: right;
	list-style-type: none;
	color: blue;
}

#box1 {
	background: #2E64FE;
	width: 100%;
	height: 410px;
	margin: -305px 0 0 0;
}

/** CONTENT **/
main {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
	background: #fff;
	-webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.1) inset, 0 3px 1px
		rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.1) inset, 0 3px 1px
		rgba(0, 0, 0, 0.15);
}

article {
	padding: 30px;
	width: 70%;
	float: right;
}

h1, h2 {
	font-size: 1.75em;
	font-weight: normal;
	font-family: 'Tauri', serif;
	padding-left: 15px;
	color: black;
	text-transform: uppercase;
}

h2 span {
	font-size: 0.70em;
	color: #818181;
	text-transform: none;
}

h3 {
	font-size: 1.50em;
	font-weight: normal;
	font-family: 'Tauri', serif;
	padding: 0px;
	margin: 0px;
	color: black;
}

p {
	text-align: left;
	line-height: 1.6em;
	padding: 20px 0px
}

a {
	color: white;
	padding: 5px 15px;
	outline: none;
	text-decoration: none;
}
.footer{
	background: color;	
}
#navigation ul {
	float: left;
	list-style-type: none;
	width: 100%;
	margin-bottom: 30px;
}

footer p {
	float: right;
}

@media only screen and (max-width: 960px) {
	body {
		width: 100%
	}
	header h1.ribbon {
		width: 50%;
	}
	article {
		width: 100%
	}
	header a#navlink {
		display: block;
	}
}
/* 1-Spaltenlayout  */
@media only screen and (max-width: 600px) {
	header h1.ribbon {
		width: 80%;
	}
	ul#header-top {
		position: relative;
	}
	#navigation {
		float: left;
		clear: left;
		width: 90%;
		padding: 0;
		margin: 0;
	}
	#navigation ul {
		position: relative;
		padding: 0;
		margin: 0;
		top: 0;
		left: 0%;
		width: 100%;
		clear: left;
	}
	#navigation li {
		display: block;
		padding: 0;
		margin: 0;
	}
}